/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;

}

.container {
    text-align: center;
    background-color: rgba(163, 163, 163, 0.1); /* Background color with opacity */
    backdrop-filter: blur(10px); /* Apply a blur effect to create the glass effect */
    padding: 30px;
    border-radius: 10px;
    box-shadow: inset -1px -1px 20px 1px rgba(128, 128, 128, 0.5); /* Adjust shadow */
    margin-top: 25px;
    backdrop-filter: blur(10px); /* Adjust the blur effect as needed */
}


.title {
    font-size: 32px;
    margin-bottom: 10px;
    color: #ffffff;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 20px;
    color: #ffffff;
}

.buttons {
    display: flex;
    justify-content: center;
}

.option-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.option-button:hover {
    background-color: #0056b3;
}

/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    backdrop-filter: blur(5px);
}

.modal.active {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    max-width: 80%;
}

.cerrar-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.imagen-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.imagen {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;

}

.imagen img {
    max-width: 100%;
    border-radius: 5px;
    height: 350px;
    width: 200px;
}

.imagen-subtitle {
    font-size: 14px;
    margin-top: 5px;
    color: #777;
    text-align: center;
}






@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #4a05a3;
    overflow: hidden;
}

.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 50;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #fff700;
    top: 57%;
    left: 51%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -9vw -7vh;
    box-shadow: 2vmin 0 1.0338229975238937vmin currentColor;
}

.background span:nth-child(1) {
    color: #fff700;
    top: 39%;
    left: 27%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -13vw -12vh;
    box-shadow: -2vmin 0 1.2224595544796306vmin currentColor;
}

.background span:nth-child(2) {
    color: #f5f9ff;
    top: 89%;
    left: 5%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 14vw 17vh;
    box-shadow: -2vmin 0 0.3620147742764752vmin currentColor;
}

.background span:nth-child(3) {
    color: #FFACAC;
    top: 39%;
    left: 41%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 21vw -12vh;
    box-shadow: -2vmin 0 1.1991563257128972vmin currentColor;
}

.background span:nth-child(4) {
    color: #FFACAC;
    top: 76%;
    left: 81%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 18vw 14vh;
    box-shadow: 2vmin 0 0.9228657125018414vmin currentColor;
}

.background span:nth-child(5) {
    color: #fff700;
    top: 43%;
    left: 69%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 21vw -24vh;
    box-shadow: -2vmin 0 0.5768413202594016vmin currentColor;
}

.background span:nth-child(6) {
    color: #FFACAC;
    top: 49%;
    left: 39%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -15vw -13vh;
    box-shadow: -2vmin 0 0.5945817587873379vmin currentColor;
}

.background span:nth-child(7) {
    color: #FFACAC;
    top: 70%;
    left: 21%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 7vw 2vh;
    box-shadow: -2vmin 0 0.8397001917346016vmin currentColor;
}

.background span:nth-child(8) {
    color: #FFACAC;
    top: 48%;
    left: 28%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -21vw -1vh;
    box-shadow: -2vmin 0 1.1751065876556992vmin currentColor;
}

.background span:nth-child(9) {
    color: #FFACAC;
    top: 70%;
    left: 68%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -14vw 14vh;
    box-shadow: -2vmin 0 0.850976158814502vmin currentColor;
}

.background span:nth-child(10) {
    color: #f5f9ff;
    top: 94%;
    left: 74%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -19vw 17vh;
    box-shadow: -2vmin 0 0.48953330126396777vmin currentColor;
}

.background span:nth-child(11) {
    color: #f5f9ff;
    top: 72%;
    left: 88%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 22vw -7vh;
    box-shadow: -2vmin 0 0.35800310121908985vmin currentColor;
}

.background span:nth-child(12) {
    color: #FFACAC;
    top: 57%;
    left: 28%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 0vw -7vh;
    box-shadow: 2vmin 0 0.8691841050409319vmin currentColor;
}

.background span:nth-child(13) {
    color: #FFACAC;
    top: 51%;
    left: 54%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 19vw 2vh;
    box-shadow: 2vmin 0 1.2394487430601608vmin currentColor;
}

.background span:nth-child(14) {
    color: #fff700;
    top: 94%;
    left: 62%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -8vw 19vh;
    box-shadow: 2vmin 0 0.5882386989698811vmin currentColor;
}

.background span:nth-child(15) {
    color: #f5f9ff;
    top: 68%;
    left: 50%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 22vw 10vh;
    box-shadow: 2vmin 0 0.7231491987429959vmin currentColor;
}

.background span:nth-child(16) {
    color: #FFACAC;
    top: 38%;
    left: 66%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 2vw 15vh;
    box-shadow: -2vmin 0 0.6702025106691043vmin currentColor;
}

.background span:nth-child(17) {
    color: #fff700;
    top: 63%;
    left: 27%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 1vw -7vh;
    box-shadow: -2vmin 0 1.1568781430612673vmin currentColor;
}

.background span:nth-child(18) {
    color: #FFACAC;
    top: 68%;
    left: 72%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 25vw -15vh;
    box-shadow: 2vmin 0 0.9600360842330171vmin currentColor;
}

.background span:nth-child(19) {
    color: #FFACAC;
    top: 14%;
    left: 94%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 23vw -11vh;
    box-shadow: -2vmin 0 0.6327506111956587vmin currentColor;
}

.background span:nth-child(20) {
    color: #fff700;
    top: 99%;
    left: 27%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 2vw 1vh;
    box-shadow: -2vmin 0 1.1645147724158906vmin currentColor;
}

.background span:nth-child(21) {
    color: #FFACAC;
    top: 47%;
    left: 31%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -1vw 13vh;
    box-shadow: 2vmin 0 0.4540324202584163vmin currentColor;
}

.background span:nth-child(22) {
    color: #FFACAC;
    top: 94%;
    left: 51%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 9vw -15vh;
    box-shadow: 2vmin 0 0.9421187876002979vmin currentColor;
}

.background span:nth-child(23) {
    color: #fff700;
    top: 29%;
    left: 10%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -11vw -12vh;
    box-shadow: 2vmin 0 0.27842784161714174vmin currentColor;
}

.background span:nth-child(24) {
    color: #FFACAC;
    top: 43%;
    left: 15%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 2vw 19vh;
    box-shadow: 2vmin 0 0.4779082991708643vmin currentColor;
}

.background span:nth-child(25) {
    color: #fff700;
    top: 19%;
    left: 68%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -22vw 19vh;
    box-shadow: 2vmin 0 0.8081514072030018vmin currentColor;
}

.background span:nth-child(26) {
    color: #FFACAC;
    top: 58%;
    left: 20%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -9vw -3vh;
    box-shadow: 2vmin 0 1.171189521486071vmin currentColor;
}